name: Build Capacitor APK on Windows

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest  # Menggunakan runner Windows

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm ci

      - name: Build React
        run: |
          $env:CI = "false"
          npm run build

      - name: Add Android platform
        run: |
          npx cap add android

      - name: Update Capacitor
        run: |
          npx cap update

      - name: Sync Capacitor
        run: |
          npx cap sync

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Configure gradle for build
        run: |
          cd android
          echo "sdk.dir=$env:ANDROID_HOME" > local.properties
          .\gradlew --version

      - name: Build Debug APK
        run: |
          cd android
          .\gradlew assembleDebug

      - name: Build Release APK
        run: |
          cd android
          .\gradlew assembleRelease

      - name: Rename and move APKs
        run: |
          mkdir -p release
          mv android/app/build/outputs/apk/debug/app-debug.apk release/Miko-Debug.apk
          mv android/app/build/outputs/apk/release/app-release-unsigned.apk release/Miko-Release-unsigned.apk

      - name: Copy Logs to Release Folder
        run: |
          mkdir -p release/logs
          cp android/app/build/outputs/logs/manifest-merger-debug-report.txt release/logs/
          cp android/app/build/outputs/logs/manifest-merger-release-report.txt release/logs/
          cp android/app/build/reports/lint-results-debug.txt release/logs/

      - name: Upload APKs as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: APKs
          path: release/

      - name: Upload Logs as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-Logs
          path: release/logs/

      - name: Save directory listing to file
        run: |
          ls -R android > android-file-list.txt

      - name: Upload Directory Listing
        uses: actions/upload-artifact@v4
        with:
          name: Android-Folder-Listing
          path: android-file-list.txt
